PORT=5000
MONGO_URI=mongodb://localhost:27017/campus_notifications
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRE=30d

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASS=your_pass
SMTP_FROM=noreply@campus.edu
